<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testservice.dao.MpUserMapper">

    <resultMap id="BaseResultMap" type="com.example.testapi.model.MpUser">
        <result column="id" property="id" javaType="java.lang.Long" />
        <result column="user_id" property="userId" javaType="java.lang.Long" />
        <result column="phone" property="phone" javaType="java.lang.String" />
        <result column="session_key" property="sessionKey" javaType="java.lang.String" />
        <result column="open_id" property="openId" javaType="java.lang.String" />
        <result column="del_flag" property="delFlag" javaType="java.lang.Byte" />
        <result column="create_time" property="createTime" javaType="java.util.Date" />
        <result column="update_time" property="updateTime" javaType="java.util.Date" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
		`user_id`,
		`phone`,
		`session_key`,
		`open_id`,
        `del_flag`,
		`create_time`,
		`update_time`
    </sql>


    <sql id="Return_Column_List" >
        `id` as id,
		`user_id` as userId,
		`phone` as phone,
		`session_key` as sessionKey,
		`open_id` as openId,
        `del_flag` as delFlag,
		`create_time` as createTime,
		`update_time` as updateTime
    </sql>

    <select id="getVOById" resultType="com.example.testapi.vo.MpUserVO">
        select
        <include refid="Return_Column_List"/>
        from t_mp_user
        where id = #{id}
    </select>

    <select id="getVOByPhone" resultType="com.example.testapi.vo.MpUserVO">
        select
        <include refid="Return_Column_List"/>
        from t_mp_user
        where phone = #{phone}
        limit 1
    </select>

</mapper>